# Chapter 2 - Data Preparation Basics
## Segment 1 - Filtering and selecting data

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or 
- Integer index

In [2]:
series_obj = Series(np.arange(8), index=["a","b","c","d","e","f","g","h"])
series_obj

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int32

In [3]:
series_obj["g"]

6

In [5]:
series_obj[[0,7]]

a    0
h    7
dtype: int32

In [10]:
np.random.seed(25)
df_obj = DataFrame(np.random.rand(36).reshape((6,6)), index=["y0","y1","y2","y3","y4","y5"], columns=["x0","x1","x2","x3","x4","x5"])
df_obj

          x0        x1        x2        x3        x4        x5
y0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
y1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
y2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
y3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
y4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
y5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [11]:
df_obj.loc[["y1","y4"],["x4","x1"]]

          x4        x1
y1  0.402366  0.437611
y4  0.421004  0.559053

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [12]:
series_obj["c":"g"]

c    2
d    3
e    4
f    5
g    6
dtype: int32

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

In [13]:
df_obj < .2

       x0     x1     x2     x3     x4     x5
y0  False  False  False   True  False   True
y1  False  False  False  False  False   True
y2  False  False   True  False  False  False
y3  False  False  False  False  False  False
y4  False  False   True  False  False  False
y5  False  False  False  False  False  False

### Filtering with scalars

In [14]:
series_obj[series_obj > 6]

h    7
dtype: int32

### Setting values with scalars

In [17]:
series_obj['a','e','h']=8
series_obj

a    8
b    1
c    2
d    3
e    8
f    5
g    6
h    8
dtype: int32

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.